* {
	margin: 0;
	padding: 0;

	--surface1: #1a1c1f;
	--accent1: #183c72;
	--accent2: #2658a3;
	--accent3: #6083b8;
	--text1: #cfd3d8;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--surface1);
	color: var(--text1);
}

a {
	color: var(--text1);
	text-decoration: none;
}

canvas {
	display: block;
	background-color: black;
}

canvas.full {
	width: 100vw;
	height: 100vh;
	background: none;
	margin: 0;
}

canvas.pixelated {
	image-rendering: pixelated;
}

header {
	position: fixed;
	padding: 15px;
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	background: linear-gradient(#000b, #0000);
}

.back svg {
	fill: var(--text1);
	width: 40px;
	height: 40px;
	margin-right: 12px;
	transition: fill 0.1s;
}

.back:hover svg {
	fill: var(--accent3);
}

main {
	padding: 15px;
}

header + main {
	padding-top: 75px;
}

.collection {
	display: flex;
	flex-wrap: wrap;
}

.collection hr {
	flex-grow: 1;
	width: 100%;
	border: none;
}

.plot {
	margin: 8px;
}

nav ul {
	list-style: none;
}

nav a {
	display: inline-block;
	background-color: var(--accent1);
	padding: 6px 18px;
	margin-bottom: 5px;
	border-radius: 4px;
	transition: background-color 0.1s;
}

nav a:hover {
	background-color: var(--accent2);
}
